on:
  workflow_dispatch:
    inputs:
      pak-version:
        required: true
        type: choice
        options:
        - 'stable'
        - 'rc'
        - 'devel'
        default: 'stable'

name: R-devel test

permissions: read-all

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-15,       r: 'devel'}
          - {os: macos-latest,   r: 'devel'}
          - {os: windows-latest, r: 'devel'}
          - {os: ubuntu-latest,  r: 'devel', http-user-agent: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: r-hub/actions/debug-shell@e9663823ac5d540b7b2d93436945048a8f6fc4c1 # v1.6.6

      - uses: ./setup-pandoc

      - uses: ./setup-r
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Check that GS and QPDF are installed
        run: |
          Sys.which("gswin64c")
          Sys.which("qpdf")
        shell: Rscript {0}

      - uses: ./setup-r-dependencies
        with:
          pak-version: ${{ github.event.inputs.pak-version || 'stable' }}
          extra-packages: any::rcmdcheck
          needs: check

      - uses: ./check-r-package
        with:
          upload-snapshots: true