on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

name: "setup-tinytex test"

permissions: read-all

jobs:
  tinytex:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config: ${{ github.actor == 'dependabot[bot]' && fromJSON('[{"os":"ubuntu-latest"}]') || fromJSON('[{"os":"ubuntu-latest"},{"os":"macos-latest"},{"os":"windows-latest"}]') }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - uses: ./setup-tinytex
        env:
          TINYTEX_INSTALLER: TinyTeX

      - run: tlmgr --version

      - run: tlmgr update --self

      - run: tlmgr --version

      - run: tlmgr install colortbl grfext ae
